---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ProjectCardList from "@/components/ProjectCardList.astro";
import Layout from "../../layouts/Layout.astro";

interface Project {
	id: string;
	data: {
		title: string;
		summary: string;
		tags: string[];
		cover: ImageMetadata;
		startDate: Date;
	};
}

const allProjects = (await getCollection("projects")).sort(
	(a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
	title={t("projects.index.title")}
	description={t("projects.index.description")}
	scrollSmooth={false}
>
	<>
		<!-- Section Projets -->
		<section class="border-bottom">
			<div class="mb-4">
				<h2 class="text-3xl font-bold mb-8">{t("projects.index.heading")}</h2>
			</div>
		</section>
		<!-- Liste des projets -->
		<section class="flex flex-col gap-8">
			{
				allProjects.length > 0 ? (
					allProjects.map((project: Project) => (
						<ProjectCardList
							id={project.id}
							title={project.data.title}
							tags={project.data.tags}
							cover={project.data.cover}
						/>
					))
				) : (
					<p>{t("projects.index.empty")}</p>
				)
			}
		</section>
	</>
</Layout>
